.user_wrapper {
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}

.user_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user_detail {
  display: flex;
  align-items: center;
}

.user_detail h4 {
  margin-left: 10px;
}

.user_status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.online {
  background: #34eb52;
}

.offline {
  background: var(--color-5);
}
